.ss{
    background-image: url('../image/Rectangle\ 5.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    padding: 100px;
    margin-top: 50px;
}

.ss span{
    font-size: 50px;
    font-weight: bold;
}
.ss p{
    width: 400px;
    margin-bottom: 50px;
    text-align: justify;
    font-weight: lighter;
   
}