.booklisting{
    margin-top: 100px;
}



.booklisting p{
    color: black;
}

.booklisting ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.booklisting li{
    width: 200px;
   height: 200px;
    
    border-radius: 10px;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
}

.booklisting img{
    width: 100%;
    align-items: center;
}