body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bookpage{
    background-image:linear-gradient(96.45deg, rgba(2, 0, 0, 0.71) 43.69%, rgba(2, 0, 0, 0) 93.75%), url('../image/Student.png');
    height: 500px;
    background-size: cover;
    margin-top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 150px 100px 50px 100px;
   
    
}
.bookpage h1{
    font-size: 50px;
    font-weight: bold;
}
.bookpage h1:nth-of-type(1){
   
    color: aliceblue;
    font-weight: bold;
}
.bookpage h1:nth-of-type(2){
   
    color: aliceblue;
    font-weight: bold;
}

.bookpage h1:nth-of-type(3){
   
    color: #ED3A3A;
    font-weight: bold;
}
.bookstore{
    height: 500px;
}
@media only screen and (max-width: 600px) {
    
    .bookpage{
       
        height: 100vh;
        background-size: cover;
        background-position: left;
       
    }



   }
