.chatagory{
    display: flex;
    height: 250px;
    
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
   
    align-items: center;
   
}
.box{
    font-size: 20px;
}

.box:nth-of-type(1){
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: brown;
    justify-content: center;
    height: 200px;
   
    align-items: center;
    font-size: 30px;
    line-height: 50px;

}
.box:nth-of-type(2){
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: rgb(208, 214, 123);
    justify-content: center;
    height: 200px;
    align-items: center;
   
    line-height: 50px;

}
.box:nth-of-type(3){
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: brown;
    justify-content: center;
    height: 200px;
   
    align-items: center;
   
    line-height: 50px;

}
.box:nth-of-type(4){
    display: flex;
    width: 250px;
    flex-direction: column;
    background-color: rgb(208, 214, 123);
    justify-content: center;
    height: 200px;
   
    align-items: center;
   
    line-height: 50px;

}
.box img{
   
   height: 70px;
}

.box p{
    font-size: 30px;
}