.chatagory{
    display: flex;
    height: 250px;
    
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
   
    align-items: center;
   
}
.box{
    font-size: 20px;
    height: 200px;
}

.box:nth-of-type(1){
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: brown;
    justify-content: center;
   
   
    align-items: center;
    font-size: 30px;
    line-height: 50px;

}
.box:nth-of-type(2){
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(208, 214, 123);
    justify-content: center;
    
    align-items: center;
   
    line-height: 50px;

}
.box:nth-of-type(3){
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: brown;
    justify-content: center;
   
   
    align-items: center;
   
    line-height: 50px;

}
.box:nth-of-type(4){
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgb(208, 214, 123);
    justify-content: center;
   
   
    align-items: center;
   
    line-height: 50px;

}
.box img{
   
   height: 50px;
}

.box p{
    font-size: 30px;
}

.cat{
    background-color: blueviolet;
    margin-top: 50px;
}


@media only screen and (max-width: 600px) {
   .box p{
    font-size: 14px;
   }
   .box{
    height: 100px;
   }
   .box img{
   
    height: 30px;
 }
  }