.chatagory{
    display: flex;
    height: 250px;
    
    justify-content: center;
    box-sizing: border-box;
    padding-top: 50px;
   
}

.box{
    display: flex;
    width: 200px;
    background-color: brown;
    justify-content: center;
    height: 100px;
    padding: 50px;

}

.box img{
   
   height: 70px;
}