.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.logo{
    flex: 1;
    align-items: center;
    width: 200px;
}
.logo img{
    
}
.submenu{
    flex: 2;
}
ul{
 color: aliceblue;
 font-weight: normal;
 list-style: none;
}
li{
    line-height: 40px;
}

.icons{
   
    float: 1;
   padding-top: 100px;
   justify-content: center;
   padding-right: 50px;
   
}
img{
    padding-left: 20px;
}
@media only screen and (max-width: 600px) {
    .submenu{
        display: none;
    }
    .footer{
        height: 200px;
    }
   }
