.MostPopularBooks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.MostPopularBooks span{
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.MostPopularBooks button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #ED3A3A;
    font-weight: bold;
}
.MostPopularBooks img{
    width: 80%;
}