.audioBook{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.audioBook span{
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.audioBook h1{
    font-weight: bold;
    color: black;
}
.audioBook button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #ED3A3A;
    font-weight: bold;
    border: none;
    margin-top: 50px;
    color: aliceblue;
    transition: 1s;
}
.audioBook img{
    width: 80%;
}

.audioBook button:hover{
    background-color: #690f0f;
}
@media only screen and (max-width: 600px) {
    .audioBook img{
        width: 100%;
    }
   }