.videobook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.videobook span{
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}
.videobook button{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    background-color: #ED3A3A;
    font-weight: bold;
    color: aliceblue;
    border: none;
    margin-top: 50px;
}
.videobook img{
    width: 80%;
}
.videobook h1{
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .videobook img{
        width: 100%;
    }
   }