.videobook{
    color: black;
}
.videoheader{
    background-image:linear-gradient(96.45deg, rgba(2, 0, 0, 0.71) 43.69%, rgba(2, 0, 0, 0) 93.75%), url('../image/videobook.jpg');
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    padding: 50px 100px 50px 100px;
    box-sizing: border-box;
    background-position:bottom;
    background-size: cover;
}
.videobook span{
    color: brown;
    height: 0px;
}

span:nth-of-type(1){
    font-size: 60px;
    color: aliceblue;
}
span:nth-of-type(2){
    font-size: 60px;
    color: rgb(163, 31, 31);
}